/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/.idea
/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/project/project
/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/project/target
/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/target/streams
/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/target/.history
/home/alex/IdeaProjects/ATMKeeperBeagleBoneApp/target/scala-2.12/classes
.idea
